<template>
  <div>111111111</div>
</template>

<script>
import axios from 'axios'
export default {
  name: '',
  components: {},
  props: {},
  data() {
    return {}
  },
  computed: {},
  watch: {},
  created() {
    this.init()
  },
  methods: {
    init() {
      axios.get('/mock/getMapInfo').then((res) => {
        if (res.data) {
          console.log(res.data)
          alert(res.data.title)
        }
      })
    }
  }
}
</script>

<style lang="less" scoped></style>
